@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    margin: 0;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #2F0058;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: #F2F2F2;
}

.left-login-image {
    width: 60vh; 
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #FFDE00;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #D69A00;
}

.card-login h1{
    color: #F2F2F2;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > h1 {
    font-size: 4vw;
    color: #cc3535;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #F2F2F2;
    color: #000000; /* Alterado para preto (#000000) */
    font-size: 12pt;
    box-shadow: 0px 10px 40px #D69A00;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #F2F2F2;
    margin-bottom: 10px;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 2px;
    background: #F2F2F2;
    cursor: pointer;
    box-shadow: 0px 10px 15px -12px #D69A00;
    color: #D69A00;
}

.register-link a{
    text-decoration: none;
    color: #F2F2F2;
}

.register-link a:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%; 
    }
}
